.navbar-brand-text {
  font-size: 15px;
  font-weight:none;
  margin-left: 5px;
  color: green;
  font-style: italic;
}


.carousel-item {
  height: 600px; 
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 400px;
}

.col-md-4 img {
  border-radius: 10px;
  width: 250px; 
  height: 160px;

}

.col-md-4 {
  margin-bottom: 20px; 
}

.col-md-4:nth-child(3n+1) img {
  margin-bottom: 20px; 
}

.col-md-4:last-child {
  margin-right: 0;
}



.footer-column {
  
  background-color: #f0f0f0; 
  padding: 10px;
}

.main-column {
 
  background-color: #e0e0e0; 
  padding: 10px;
}

.navbar-brand-text {
  font-size: 15px;
  font-weight: none;
  margin-left: 5px;
  color: green;
  font-style: italic;
}

.carousel-item {
  height: 300px;
}

.col-md-4 img {
  border-radius: 10px;
  width: 250px;
  height: 160px;
}

.col-md-4 {
  margin-bottom: 20px;
}

.col-md-4:nth-child(3n+1) img {
  margin-bottom: 20px;
}

.col-md-4:last-child {
  margin-right: 0;
}

.icon {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #000;
  display: block;
  margin: 0 auto;
  max-width: 50px; 
  height: 30px;
}
.col-md-4 .icon {
  border-radius: 50%;
}


.centered-content {
  text-align: center;
}

.centered-content h6,
.centered-content p {
  display: inline-block;
}



.full-width-container {
  width: 60%;
  background-color: hwb(120 82% 4%);
  margin: 0 auto; 
  text-align: center; 
  padding: 20px; 
  height: 95px;
  border-radius: 5px;
}

.content-column {
  max-width: 500px;
  margin: 0 auto; 
  color: #000;
}


.different-class-name {
  text-align: left;
}

.different-class-name img {
  margin-right: 10px; 
  vertical-align: middle;
}



